body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.3s;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar-menu li {
    margin-left: 1rem;
    position: relative;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar-menu a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Estilos para el submenú */
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 200px;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 0;
    margin-top: 10px;
    border-radius: 4px;
}

.submenu li {
    list-style: none;
}

.submenu a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.submenu a:hover {
    background-color: #555;
}

/* Mostrar el submenú al pasar el puntero sobre el elemento */
.dropdown:hover .submenu {
    display: block;
}

/* Mostrar solo el título y el ícono de hamburguesa en dispositivos móviles */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    background-color: white;
    height: 3px;
    margin: 4px;
    width: 25px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        padding-top: 3.5rem; /* Para evitar el solapamiento con la barra */
        z-index: 999;
    }

    .navbar-menu li {
        margin-left: 0;
    }

    .navbar-menu a {
        color: white;
        text-decoration: none;
        padding: 1rem;
        display: block;
    }

    .navbar-toggle {
        display: flex;
        margin-right: 10px;
    }

    .navbar-menu.show {
        display: flex;
    }
}


/*FIN NUEVO */

/* Responsive Styles */
/*@media (max-width: 10px) {
    .navbar-menu {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    .navbar-menu li {
        margin: 0;
    }

    .navbar-menu a {
        padding: 1rem;
        text-align: center;
        width: 100%;
        display: block;
    }

    .navbar-toggle {
        display: flex;
    }

    /* Mostrar submenú en dispositivos móviles al hacer clic */
/*    .navbar-menu .dropdown:hover .submenu {
        display: none;
    }
}*/

.content {
    padding-top: 100px; /* Altura de la barra de navegación para evitar que el contenido se superponga */
}

section {
    padding: 2rem;
    margin: 2rem 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Cierre de barra de navegación*/
h1{
    font-family: Crepes;
    font-size: 40px;
    text-align: center;
    
}
body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("./Image/fondo.jpeg");
    background-attachment: fixed; /* Hace que la imagen sea fija */
    background-size: cover;  /*Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;  /*Centra la imagen de fondo */
}
h2, h3 {
    font-family: 'Lucida Console', Monaco, monospace;   
    color: #ffcc00;
}
.fuente1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60%;
    font-weight: bold;
}
p{
    font-family: Hermobritas;
    font-size: 250%;
    color: #000;
    margin-bottom: 1em;
}
model-viewer {
    width: 100%;
    height: 500px;
}
.img-01{
    width: 200px;
    height: 200px;
    border-radius:200px;
    vertical-align: middle;
}
.contacto{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Crepes;
    src: url("./Fonts/Honey Crepes.ttf");
}
@font-face{
    font-family: Hermobritas;
    src: url("./Fonts/Hermobritas.ttf");
}


